###############################################################################
# ▸ Variables de entorno (en cualquier carpeta)
###############################################################################
*.env

###############################################################################
# ▸ Archivos / carpetas temporales y de build
###############################################################################
# binarios Go (Windows, Linux, macOS, tests)
*.exe
*.test
*.out
*.dll
*.so
*.dylib

# carpetas de build (Air, Go, dist)
tmp/
**/tmp/
bin/
dist/
coverage/
cover.out

###############################################################################
# ▸ Archivos de herramientas
###############################################################################
.air.toml            # configuración de Air
*.log                # logs de ejecución

###############################################################################
# ▸ Configuración de IDE / sistema operativo
###############################################################################
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

###############################################################################
# ▸ Docker volúmenes locales (si los montas fuera de compose)
###############################################################################
pgdata/
rabbitmq_data/
